@use "../../global" as *;

.c-accordion {
  border-radius: 9px;
  overflow: hidden;
  border: 2px solid var(--base-color);
}
.c-accordion__btn {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: rem(19);
  color: var(--white);
  background: var(--base-color);
  padding: rem(23) rem(75) rem(23) rem(47);
  transition: background var(--duration), opacity var(--duration);
  text-align: left;
  position: relative;

  @include mq(md) {
    font-size: rem(17);
    padding: rem(15) rem(45) rem(15) rem(20);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: rem(27);
    height: 3px;
    background: currentColor;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    right: rem(45);
    transform-origin: center center;
    transition: transform var(--duration);
    
    @include mq(md) {
      right: rem(20);
      width: rem(20);
    }
  }
  &::before {
    transform: translate(0%, -50%) rotate(90deg);
  }
  &::after {
    transform: translate(0%, -50%) rotate(0deg);
  }

  &[aria-expanded="true"] {
    &::before {
      transform: translate(0%, -50%) rotate(0deg);
    }
  }
}
.c-accordion__body {
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease, 250ms padding-block ease;
  padding-inline: rem(47);
  background: var(--white);
  
  @include mq(md) {
    padding-inline: rem(20);
  }

  > div {
    overflow: hidden;
  }

  &[aria-hidden="false"] {
    grid-template-rows: 1fr;
    padding-block: rem(30);
    
    @include mq(md) {
      padding-block: rem(15);
    }
  }
}

.c-accordion__answer {
  padding-left: 1.5em;
  position: relative;

  &::before {
    content: "A.";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}
