@use "global" as *;

.c-panel {
  display: block;
  background: var(--white);
  border: 3px solid var(--base-color);
  border-radius: 21px;
  min-height: rem(237);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: rem(20);
  padding: rem(30) rem(10);
  cursor: pointer;
  transition: opacity 0.3s;

  @include mq(md) {
    padding: rem(20) rem(5);
    min-height: rem(180);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.c-panel__img {
  width: min(126px, 100%);

  @include mq(md) {
    width: min(100px, 100%);
  }
}
.c-panel__text {
  display: block;
  width: 100%;
  font-size: rem(19);
  font-weight: var(--bold);
  line-height: calc(25 / 19);
  text-align: center;
  position: relative;
  color: var(--base-color);

  @include mq(md) {
    padding-inline: rem(10);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 2px;
    background: #FBA49B;
    position: absolute;
    top: 50%;
    right: rem(4);
    transform-origin: center right;
    border-radius: 10px;

    @include mq(md) {
      right: rem(2);
    }
  }
  &::before {
    transform: translate(0%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(0%, -50%) rotate(-45deg);
  }


  @include mq(md) {
    font-size: rem(13);
  }
}
