<footer class="p-footer">
  <div class="p-footer__inner">
    <div class="p-footer__logo"><a href=""><img src="./assets/images/common/logo.png" alt="ロゴ"></a></div>
    <div class="p-footer__body">
      <ul class="p-footer__items">
        <li class="p-footer__item"><a href="">トップ</a></li>
        <li class="p-footer__item"><a href="">お知らせ</a></li>
        <li class="p-footer__item"><a href="">事業内容</a></li>
        <li class="p-footer__item"><a href="">企業概要</a></li>
        <li class="p-footer__item"><a href="">ブログ</a></li>
        <li class="p-footer__item"><a href="">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
</footer>
<div class="p-footer__copy"> &copy; 2021 CodeUps Inc.</div>
