<header class="l-header p-header js-header">
  <div class="p-header__inner">

    <!-- ヘッダーロゴ -->
    <% if (baseMeta.page === 'top') { %>
    <h1 class="p-header__logo">
      <a href="/">
        <img src="./assets/images/common/logo.png" alt="ロゴ">
      </a>
    </h1>
    <% } else { %>
    <div class="p-header__logo">
      <a href="/">
        <img src="./assets/images/common/logo.png" alt="ロゴ">
      </a>
    </div>
    <% } %>


    <!-- ドロワーアイコン  -->
    <button type="button" id="js-hamburger" class="p-header__drawer c-hamburger" aria-controls="js-drawer-menu" aria-expanded="false" aria-label="メニューを開閉する">
      <span class="c-hamburger__line"></span>
    </button>


    <!-- メニュー -->
    <nav class="p-header__menu p-header-menu" id="js-drawer-menu" aria-hidden="true">
      <ul class="p-header-menu__items">
        <li class="p-header-menu__item js-header-menu__item"><a href="/news/">お知らせ</a></li>
        <li class="p-header-menu__item js-header-menu__item"><a href="">事業内容</a></li>
        <li class="p-header-menu__item js-header-menu__item"><a href="">制作実績</a></li>
        <li class="p-header-menu__item js-header-menu__item"><a href="">企業概要</a></li>
        <li class="p-header-menu__item js-header-menu__item"><a href="/blog/">ブログ</a></li>
      </ul>
    </nav>

    <!-- ドロワーメニュー展開時背景 -->
    <div class="p-header__overlay" id="js-header__overlay"></div>

  </div>
</header>