<div class="c-accordion">
  <button class="c-accordion__btn js-accordion__btn" aria-expanded="false" aria-label="質問欄の開閉ボタン">Q. <%- question %></button>
  <div class="c-accordion__body" aria-hidden="true">
    <div>
      <p class="c-accordion__answer c-text-l">
        <%- answer %>
      </p>
    </div>
  </div>
</div>