<%# 記述例 : include(baseMeta.path + 'parts/_p-tile', { link:'#', text:'経営理念ページへ'} )%>
<div class="c-tile">
  <a href="<%= link %>">
    <div class="c-tile__img">
      <img src="<%= img %>" alt="<%= alt %>">
    </div>
    <div class="c-tile__title"><%= text %></div>
  </a>
</div>