@use "global" as *;
$hamburger-color1: $white; //通常時ボタンカラー
$hamburger-color2: $white; //展開時ボランカラー

.c-hamburger {
  @include mq(md) {
    display: inline-block;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: $base-color;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: background 0.3s ease;
    position: relative;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
  }
}

@media (hover: hover) {
  .c-hamburger:hover {
    background: $black;

    .c-hamburger__line {
      background: $hamburger-color2;
    }
    &[aria-expanded="true"] {
      .c-hamburger__line {
        background: transparent;
      }
    }
  }
}

.c-hamburger__line {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(20);
  height: 1px;
  background: $hamburger-color1;
  transition: background 0.3s ease;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  content: "";
  transition: transform 0.3s ease;
}

.c-hamburger__line::before {
  top: rem(-6);
}
.c-hamburger__line::after {
  top: rem(6);
}
.c-hamburger[aria-expanded="true"] {
  background: $black;

  .c-hamburger__line {
    background: transparent;

    &::before,
    &::after {
      top: 0;
      background: $hamburger-color2;
    }
  }
  .c-hamburger__line::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .c-hamburger__line::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
