@use "global" as *;

@if $startFrom == sp {
  .l-inner {
    width: 100%;
    padding-inline: var(--padding-sp);
    margin-inline: auto;
    @include mq("md") {
      max-width: calc(var(--inner) + var(--padding-pc) * 2);
      padding-inline: var(--padding-pc);
    }
  }
} @else {
  .l-inner {
    max-width: calc(var(--inner) + var(--padding-pc) * 2);
    padding-right: var(--padding-pc);
    padding-left: var(--padding-pc);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
      padding-inline: var(--padding-sp);
    }
  }
}
